<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>AngularJS + Polymer two way binding</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="../angupoly.js"></script>
    <link rel="import" href="simple-name.html">
    <link rel="import" href="simple-list.html">
    <style type="text/css">
      fieldset {
        width : 120px;
        margin-bottom : 5px;
      }
    </style>
    <script>
      angular.module('app', ['angupoly'])
      .run(function($rootScope) {
        $rootScope.data = {
          name: 'matt',
          list: [{
            text: 'item 1',
            price: 1
          }, {
            text: 'item 2',
            price: 2
          }]
        };
      });
    </script>
  </head>
  <body ng-app="app">
    <fieldset>
      <legend>Angular</legend>
      <input ng-model="data.name" ng-repeat="i in ::[1, 2]">
    </fieldset>
    <fieldset>
      <legend>Polymer</legend>
      <simple-name angupoly="{name:'data.name'}" ng-repeat="i in ::[1, 2]"></simple-name>
    </fieldset>
    <fieldset>
      <legend>List</legend>
      <simple-list angupoly="{items:'data.list'}"></simple-list><br>
    </fieldset>
  </body>
</html>